<%= form_with(model: loan) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<hr>
  <div class="form-group">
    <%= form.label :current_balance %>
    <%= form.text_field :current_balance, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :original_amount %>
    <%= form.text_field :original_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :interest_rate %>
    <%= form.text_field :interest_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :periods_in_year %>
    <%= form.number_field :periods_in_year, class: "form-control" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id%>

  <div class="form-group">
    <%= form.label :loan_name %>
    <%= form.text_field :loan_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :monthly_min_payment %>
    <%= form.text_field :monthly_min_payment, class: "form-control" %>
  </div>

  <div class="btn btn-block btn-outline-primary">
    <%= form.submit %>
  </div>

 <hr>
<% end %>
