<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @loan.loan_name %> Details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <%= link_to "Go back", loans_path, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to "Edit loan", edit_loan_path, class: "btn btn-block btn-outline-secondary" %>
      </div>

       <div class="col">
        <%= link_to 'Delete', @loan, method: :delete, class: "btn btn-block btn-outline-secondary" %>
      </div> 

    </div> 

    <dl>
      <dt>
        Loan name
      </dt>
      <dd>
        <%= @loan.loan_name %>
      </dd>
      
      <dt>
        Current balance
      </dt>
      <dd>
        <%= number_to_currency(@loan.current_balance) %>
      </dd>

      <dt>
        Original amount
      </dt>
      <dd>
        <%= number_to_currency(@loan.original_amount) %>
      </dd>

      <dt>
        Interest rate
      </dt>
      <dd>
        <%= number_to_percentage(@loan.interest_rate) %>
      </dd>
      
      <dt>
        Minimum Payment
      </dt>
      <dd>
        <%= number_to_currency(@loan.monthly_min_payment) %>
      </dd>

      <dt>
        Periods in year
      </dt>
      <dd>
        <%= @loan.periods_in_year %>
      </dd>

    </dl>
  </div>
</div>

<div>
  <%= line_chart [{name: "Balance", data: @pmt_schedule_chart} , {name: "Adj Balance", data: @adj_pmt_schedule_chart}] %>
  
  <!-- Testing other charting fucntion
  <%#= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %> -->
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Loan Schedule
    </h1>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render "loans/schedule_details", pmt_schedule: @pmt_schedule, pmt_schedule_adj: @pmt_schedule_adj %>
  </div>
</div>
