<%= form_with(model: adjustment) do |form| %>
  <% if adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adjustment.errors.count, "error") %> prohibited this adjustment from being saved:</h2>

      <ul>
        <% adjustment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :payment_occurrence %>
    <%= form.select :payment_occurrence, [['Recurring'], ['One Time'], ['Between']] %>
  </div>

  <div class="field">
    <%= form.label :loan_id %>
    <%= form.number_field :loan_id %>
    <%= form.collection_select :loan_id, Loan.order(:loan_name),:id,:loan_name, include_blank: true %>  %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id%>

  <div class="field">
    <%= form.label :pmt_adjustment %>
    <%= form.text_field :pmt_adjustment %>
  </div>

  <div class="field">
    <%= form.label :beg_pay_adj %>
    <%= form.number_field :beg_pay_adj %>
  </div>

  <div class="field">
    <%= form.label :end_pay_adj %>
    <%= form.number_field :end_pay_adj %>
  </div>

  <div class="field">
    <%= form.label :adjustment_details %>
    <%= form.text_field :adjustment_details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
